<div class="logo-mid">
  <img [src]="logoUrl" *ngIf="logoUrl" width="200px">
</div>
<div class="row row-detail-main justify-content-center">
  <div class="col-md-4">
    <div class="card">
      <header class="card-header">
        <a [routerLink]="['/auth/signup']" class="float-right">Register</a>
        <h4 class="card-title mt-2">Forgot password</h4>
      </header>
      <article class="card-body">
        <form class="form-horizontal form-material" (submit)="login(frm)" #frm="ngForm">
          <div class="form-group ">
            <div class="col-xs-12">
              <input class="form-control" placeholder="Email" required type="text"
                autocomplete="off" name="email"
                #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                [(ngModel)]="credentials.email" />

              <div *ngIf="email.errors && (email.dirty || email.touched || submitted)">
                <p [hidden]="!email.errors.required" class="error">
                  Email is required
                </p>
                <p [hidden]="!email.errors.pattern" class="error">
                  Email is invalid format
                </p>
              </div>
            </div>
          </div>
          <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </article>
    </div>
  </div>
</div>
