<div class="heading-ttl">
  <h3>Request Payout
    <small><span><i class="fa fa-angle-right"></i> New Request</span></small>
  </h3>
</div>
<div class="card">
  <div class="card-body">
    <div style="background: beige; padding: 10px; margin-bottom: 20px">
      <h4>Summary Total: {{balance?.balance | currency:'ZWK '}}</h4>
      <h4>Service Charge (Include VAT): {{balance?.commission | currency:'ZWK '}}</h4>
      <h4>Amount To Be Received: <span class="badge badge-info">{{balance?.totalPrice | currency:'ZWK '}}</span></h4>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Please select pay out account (*)</label>
          <select [(ngModel)]="payoutAccountId" class="form-control" required>
            <option *ngFor="let item of accounts" [value]="item._id">
              <span *ngIf="item.type === 'bank-account'">Bank - {{item?.bankName}} - {{item?.accountNumber}}</span>
              <span *ngIf="item.type === 'paypal'">Paypal - {{item?.paypalAccount}}</span>
            </option>
          </select>
        </div>
      </div>
      <!-- <div class="col-md-6">
        <div class="form-group">
          <label>Request to date (UTC)</label>
          <div class="row">
            <ngb-datepicker [minDate]="{year: today.getFullYear(), month: today.getMonth() + 1, day: today.getDate()}" [(ngModel)]="toDate" name="toDate" (select)="selectDateTo()"></ngb-datepicker>
          </div>
        </div>
      </div> -->
    </div>
    <div class="col col-md-12">
      <div class="form-group">
        <button (click)="submit()" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
